body {
  background-color: gray;
  padding: 0px;
}


h1 {
  color: white;
  text-shadow: 2px 2px 4px #000000;
  font-size: 60px;
  position: relative;
  width: 45%;
  margin: 0px auto;
  text-align: center;
}

nav {
  border: 2px solid yellow;
  width: 95%;

}

h2 {
  font-size: 30px;
  width: 40%;
  display: inline-block;
  margin: 0px auto;
  background-color: white;
  border-radius: 25px;
  padding: 10px;
  text-align: center;
}



h3 {
  position: relative;
  width: 70%;
  background-color: white;
  border-radius: 5px;
  padding: 5px;
  border: 2px black solid;
  text-align: center;
  margin: 10px auto;
}

#x {
  color: black;
  border: 2px solid black;
}

#o {
  color: red;
  border: 2px solid red;
}

#container{
  width: 100%;
}

div {
  display: inline-block;
  width: 200px;
  height: 200px;
  background-color: #bfbfbf;
  position: relative;
}

p {
  font-size: 128px;
  padding: 12px;
  margin: 0;

  border-radius: 25px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}


#one {
  width: 31%;
  border-right: 2px solid white;
  border-bottom: 2px solid white;
}

#two {
  width: 31%;
  border-right: 2px solid white;
  border-left: 2px solid white;
  border-bottom: 2px solid white;

}

#three {
  width: 31%;
  border-left: 2px solid white;
  border-bottom: 2px solid white;

}

#four {
  width: 31%;
  border-top: 2px solid white;
  border-right: 2px solid white;
  border-bottom: 2px solid white;
}

#five {
  width: 31%;
  border: 2px solid white;
}

#six {
  width: 31%;
  border-top: 2px solid white;
  border-left: 2px solid white;
  border-bottom: 2px solid white;

}

#seven {
  width: 31%;
  border-right: 2px solid white;
  border-top: 2px solid white;
}

#eight {
  width: 31%;
  border-top: 2px solid white;
  border-right: 2px solid white;
  border-left: 2px solid white;

}
#nine {
  width: 31%;
  border-top: 2px solid white;
  border-left: 2px solid white;
}





#rowOne {
  height: 200px;
  width:800px;
  margin: 0 auto;
}

#rowTwo {
  height: 200px;
  width:800px;
  margin: 0 auto;
}

#rowThree {
  height: 200px;
  width:800px;
  margin: 0 auto;
}







